*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row a{
    background-color: #e55143;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 15px;
}

footer{
    margin-top: 30px;
}